temp/conf.py
temp/data.py
temp/graph.py
temp/train.py
temp/image/enc_dec.jpg
temp/image/layer_norm.jpg
temp/image/model.png
temp/image/multi_head_attention.jpg
temp/image/positional_encoding.jpg
temp/image/positionwise_feed_forward.jpg
temp/image/scale_dot_product_attention.jpg
temp/image/transformer-model-size.jpg
temp/models/__init__.py
temp/models/blocks/__init__.py
temp/models/blocks/decoder_layer.py
temp/models/blocks/encoder_layer.py
temp/models/embedding/__init__.py
temp/models/embedding/positional_encoding.py
temp/models/embedding/token_embeddings.py
temp/models/embedding/transformer_embedding.py
temp/models/layers/__init__.py
temp/models/layers/layer_norm.py
temp/models/layers/multi_head_attention.py
temp/models/layers/position_wise_feed_forward.py
temp/models/layers/scale_dot_product_attention.py
temp/models/model/__init__.py
temp/models/model/decoder.py
temp/models/model/encoder.py
temp/models/model/transformer.py
temp/paper/attention is all you need.pdf
temp/saved/transformer-base/test.txt
temp/saved/transformer-base/train_result.jpg
temp/saved/transformer-base/train.txt
temp/util/__init__.py
temp/util/bleu.py
temp/util/data_loader.py
temp/util/epoch_timer.py
temp/util/tokenizer.py
note/spacy.md
note/collections_and_Counter.md
test.ipynb
transformer/__pycache__/config.cpython-39.pyc
transformer/__pycache__/data.cpython-39.pyc
transformer/util/__pycache__/__init__.cpython-39.pyc
transformer/util/__pycache__/data_loader.cpython-39.pyc
transformer/util/__pycache__/tokenizer.cpython-39.pyc
